.menu-cat{
    display: flex;
    width: 70%;
    justify-content: space-around;

    button{
        margin-top: 20px;
        cursor: pointer;
        border: 2px solid #606C38;
        border-radius: 10px;
        padding: 5px 8px;
        font-size: 1rem;
        font-family: 'Nunito', sans-serif;
        background-color: transparent;
        color: #BC6C25;
        box-shadow: 1px 3px 4px rgba(221,161,94,0.5);
    }
    button:hover{
        background-color: #606C38;
        color: #FEFAE0;
        box-shadow: 0 3px 4px rgba(96,108,56,0.5);
        padding: 4px 7px;
    }
}

@media only screen and (max-width: 600px) {
    .menu-cat{
        width: 90%;
        flex-wrap: wrap;

        button{
            margin-top: 10px;
            cursor: pointer;
            border: 1.4px solid #606C38;
            border-radius: 7px;
            padding: 4px 7px;
            font-size: 0.80rem;
        }
        button:hover{
            background-color: #606C38;
            color: #FEFAE0;
            box-shadow: 0 3px 4px rgba(96,108,56,0.5);
            padding: 4px 7px;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:800px) {
    .menu-cat{
        width: 95%;
        flex-wrap: wrap;

        button{
            margin-top: 15px;
            border: 1.7px solid #606C38;
            border-radius: 8px;
            font-size: 1rem;
        }
    }
}
@media only screen and (min-width: 800px) and (max-width:1024px) {
    .menu-cat{
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;

        button{
            margin-top: 15px;
            border: 1.7px solid #606C38;
            border-radius: 8px;
            font-size: 1rem;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width:1400px) {
    .menu-cat{
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;

        button{
            margin-top: 15px;
            border: 1.7px solid #606C38;
            border-radius: 8px;
            font-size: 1rem;
        }
    }
}