.preview-cat-meal{
    display: flex;
    margin: 10px;
    img{
        position: relative;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 5px 11px rgba(0,0,0,0.4);
        cursor: pointer;
        margin-bottom: 70px;
    }
    img:hover{
        box-shadow: 0 5px 15px rgba(0,0,0,0.4);
        opacity: 0.9;
    }
    h3{
        position: absolute;
        background-color: #606C38;
        color: #FEFAE0;
        font-size: 2rem;
        padding: 8px 19px;
        z-index: 1;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: auto;
        max-width: 400px;
        text-align: center;
    }

}

@media only screen and (max-width: 600px) {

    .preview-cat-meal{
        display: flex;
        width: 100%;
        margin: 10px;
        img{
            margin-bottom: 30px;
        }
        h3{
            font-size: 1.4rem;
            padding: 6px 10px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            max-width: 250px;
            text-align: center;
        }
    
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {

    .preview-cat-meal{
        display: flex;
        width: 100%;
        margin: 10px;
        img{
            margin-bottom: 20px;
        }
        h3{
            font-size: 1.4rem;
            padding: 6px 10px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            max-width: 180px;
            text-align: left;
        }
    
    }

}

@media only screen and (min-width: 800px) and (max-width: 1024px) {

    .preview-cat-meal{
        display: flex;
        width: 100%;
        margin: 10px;
        img{
            margin-bottom: 20px;
        }
        h3{
            font-size: 1.35rem;
            padding: 6px 10px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            max-width: 180px;
            text-align: left;
        }
    
    }

}