/*
Colores:

Verde 1: #606C38
Verde 2: #283618
Crema: #FEFAE0
Naranja: #DDA15E
Marron: #BC6C25
*/

.random-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    h2{
        font-size: 2.4rem;
        color: #606C38;
    }
}

.app-header{
    display: flex;

    button{
        background-color: transparent;
        border: none;
        margin-left: 10px;
        font-size: 1.5rem;
        cursor: pointer;
        color: #283618;
    }
}